.bg-blue1 {
    background-color: #182A36;
}

.text-blue1 {
    color: #182A36;
}

.bg-green1 {
    background-color: #65B16C;
}

.text-green1 {
    background-color: #65B16C;
}

.bg-gray1 {
    background-color: #B4ADAD;
}

.text-gray1 {
    color: #B4ADAD;
}

.bg-dark-gray {
    background-color: #535353;
}

.text-dark-gray {
    color: #535353;
}

.bg-red {
    background-color: #FF3232;
}

.text-red {
    color: #FF3232;
}

.bg-blue {
    background-color: #4040F8;
}

.text-blue {
    color: #4040F8;
}

.btn-blue {
    background-color: #4040F8;
}

.btn-outline-blue {
    border-color: #4040F8;
    color: #4040F8;
}

.bg-dark-blue {
    background-color: #4962AC;
}

.text-dark-blue {
    color: #4962AC;
}
/* load */
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loader::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: #182A36;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.body-pd {
    padding-left: 48px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.btn:hover {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .body {
        margin: calc(3rem + 1rem) 0 0 0;
        padding-left: calc(48px + 2rem);
    }

    .body-pd {
        padding-left: calc(48px + 188px);
    }
}